.overlay,
.content {
    position: fixed;
    inset: 0;
}

.overlay {
    background-color: var(--overlay-color);
}

.content {
    padding: 10px;
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    z-index: var(--modal-z-index);
    margin: auto;
    max-width: 50%;
    max-height: 50%;
}
