.app_blue_theme {
    --bg-color: #f4f4fb;
    --inverted-bg-color: #5e69ee;
    --primary-color: #0132c7;
    --secondary-color: #244bc2;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;
}
